body {
    background-color: #100919;
    width: 1440px;
    margin: 0;
}

.LogoCv {
    width: 7%;
}

header {
    width: 91%;
    height: 112px;
}

.head-infos {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    margin: 0% 5% 0% 5%;
    position: fixed;
    z-index: 1;
    width: 91%;
    height: 73px;
    background-color: #100919;
}

.head-category {
    display: flex;
    width: 34%;
    justify-content: space-between;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 100Px;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to right, #ffff, #b87bf5 99%, #8311f4);
    color: transparent; /* Rend le texte transparent pour montrer le dégradé en arrière-plan */
    -webkit-background-clip: text; /* Pour les navigateurs WebKit (Chrome, Safari) */
    background-clip: text;

}

h2 {
    color: #d6d0e0;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-size: 33px;
    text-align: justify;
}

.textDescOpacity{
    opacity: 0.9;
}

.textDesc {
    width: 50%;
}

.sectionTitle {
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Images/fond-cercle.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}


.t1span {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ffff, #8C21F8 30%, #8C21F8);
    color: transparent; /* Rend le texte transparent pour montrer le dégradé en arrière-plan */
    -webkit-background-clip: text; /* Pour les navigateurs WebKit (Chrome, Safari) */
    background-clip: text;
}


/* bouton nav start*/

.light-button button.bt {
    position: relative;
    height: 35px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
  
.light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background-color: #100919;
    border-radius: 5px;
    color: #d6d0e0;
    opacity: 0.9;
    font-weight: 700;
    transition: 300ms;
    outline: #100919 2px solid;
    outline-offset: 20;
    font-size: 12px;
}
  
.light-button button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
}
  
.light-button button.bt .light-holder {
    position: absolute;
    height: 70px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #1c0e2f;
    border-radius: 10px;
    z-index: 2;
}
  
.light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 70px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
}
  
.light-button button.bt:hover .button-holder svg {
    fill: #AB88FB;
}
  
.light-button button.bt:hover .button-holder {
    color: #AB88FB;
    outline: #AB88FB 2px solid;
    outline-offset: 2px;
    font-size: 12px;
}
  
.light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #AB88FB 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
}

/* bouton nav end*/

/* little animationLine start */

.animationLine, .animationLine2, .lineNoAnimate{
    display: block;
    --height-of-loader: 100px;
    --loader-color: #8C1DFC;
    width: 1px;
    height: 800px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: linear-gradient( #100919, #241145 20%, #410f76);
}
  
.animationLine::before, .animationLine2::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0; /* Commence au début de l'élément */
    left: 0;
    width: 100%;
    height: 0; /* Débute avec une hauteur de 0 pour que le point du haut soit caché */
    border-radius: 30px;
    animation: moving 5s linear infinite, neon 1s ease-in-out infinite alternate;
}

.animationLine2::before{
    animation-delay: 2s
}


@keyframes moving {
    0% {
      top: 0; /* Reste au début de l'élément */
      height: 0; /* Hauteur de 0 pour cacher le point */
    }
  
    50% {
      top: 800px; /* Descend jusqu'en bas (800px) */
      height: var(--height-of-loader); /* Hauteur de l'élément pour montrer le point */
      opacity: 1; /* Montre la lumière */
    }
  
    100% {
      top: 800px; /* Reste en bas de l'élément */
      height: 0; /* Le point disparait en bas */
      opacity: 0.5; /* Garde la lumière allumée */
    }
}
  
@keyframes neon {
    to {
      box-shadow: 0 0 30px #8C1DFC;
    }
}

.lineHeight {
    top: 200px;
}
  
.line1 {
    position: absolute;
    left: 6%;
}

.line2 {
    position: absolute;
    left: 17%;
}

.line3 {
    position: absolute;
    left: 28%;
}

.line4 {
    position: absolute;
    left: 39%;
}

.line5 {
    position: absolute;
    left: 50%;
}

.line6 {
    position: absolute;
    left: 61%;
}

.line7 {
    position: absolute;
    left: 72%;
}

.line8 {
    position: absolute;
    left: 83%;
}

.line9 {
    position: absolute;
    left: 94%;
}

/* little animationLine end */

/* little corner background start */

.corner-up-right {
    height: 12px;
    width: 15px;
    border-top: 1px solid #8311f4;
    border-right: 1px solid #8311f4;
}

.corner-up-left {
    height: 12px;
    width: 15px;
    border-top: 1px solid #8311f4;
    border-left: 1px solid #8311f4;
}

.corner-bottom-right {
    height: 12px;
    width: 15px;
    border-bottom: 1px solid #8311f4;
    border-right: 1px solid #8311f4;
}

.corner-bottom-left {
    height: 12px;
    width: 15px;
    border-bottom: 1px solid #8311f4;
    border-left: 1px solid #8311f4;
}

.corner-top {
    width: 76%;
    display: flex;
    justify-content: space-between;
}

.corner-bottom {
    width: 76%;
    display: flex;
    justify-content: space-between;
}

/* little corner background end */

.sectionCompetences {
    Display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    padding-top: 25px;
}

/* compétences bouton start */
:root {
    --glow-color: #8311f4;
}

.competencesDiv{
    margin-top: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competences-btn {
    color: var(--glow-color);
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 3em;
    font-weight: 700;
    border: none;
    letter-spacing: 5px;
}

.competences-word {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 8s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite !important; 
}

.competences-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.competences-btn:hover .competences-word {
    animation: none;
}

.faulty-letter {
    animation: none;
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 0.5;
    }
    19% {
        opacity: 0.5;
    }
    21% {
        opacity: 0.1;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }
    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

/* compétences bouton end */

.all-Cards{
    margin-top: 11%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

/* Card HTML / CSS start */

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}
  
.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 #8311f4;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #201233;
    border-radius: 1rem;
}
  
.flip-card-front {
    background: linear-gradient(120deg, #2f0d51 60%, #2f0d51 88%,
    #8311f4 40%, #201233 48%);
    color: #d6d0e0;
    font-family: "Raleway", sans-serif;
    opacity: 0.9;
}
  
.flip-card-back {
    background: linear-gradient(120deg, #2f0d51 30%, #2f0d51 88%,
    #8311f4 40%, #201233 78%);
    color: #d6d0e0;
    font-family: "Raleway", sans-serif;
    transform: rotateY(180deg);
    opacity: 0.9;
}

/* Card HTML / CSS end */